body {
    font-family: Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Обнуляем отступы браузера */
}

h1 {
    font-size: 20px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    margin: 0; /* Убираем отступы */
    color: #fc6; /* Цвет текста */
}

h2 {
    margin-top: 0; /* Убираем отступ сверху */
}

.left-label {
    font-family: Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Обнуляем отступы браузера */
    font-size: 0.9em; /* Размер текста */
    float:left;
    width:90px;
}

.left-label-free {
    font-family: Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Обнуляем отступы браузера */
    float:left;
}

.middle-text{
    font-family: Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    font-size: 0.8em; /* Размер текста */
}

.left-label-wider {
    font-family: Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Обнуляем отступы браузера */
    font-size: 0.9em; /* Размер текста */
    float:left;
    width:100px;
}


.right-label {
    font-family: Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Обнуляем отступы браузера */
    font-size: 0.9em; /* Размер текста */
    float:left;
    width:100%;
}

.with-all-label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 2px;
    font-size: 1.0em; /* Размер текста */
    text-align:center;
    width:100%;
    background: #97e2f3; /* Цвет фона */
}

.with-all-label-caption {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.8em; 
    text-align:left;
    width:100%;
}


.district-label {
    font-family: Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    font-size: 1.2em; /* Размер текста */
    font-style:normal;
    color:brown;
}

.checkbox-no-select{
    font-family: Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    font-size: 0.8em; /* Размер текста */
}


#head { /* Верхний блок */
    background: #0080c0; /* Цвет фона */
    padding: 5px; /* Поля вокруг */
    height:2%;
}

#menu { /* Левая колонка */
    float: left; /* Обтекание справа */
    border: 0px solid #333; /* Параметры рамки вокруг */
    width: 270px; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */     
}

    #menu div {
        padding: 2px; /* Поля вокруг ссылок */
        
    }

#content { /* Правая колонка */
    /*margin: 10px 5px 20px 225px;*/ /* Значения отступов */
    /*padding: 55px;*/ /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
    height: 90%;
}

.line {
    border-bottom: 1px groove #333; /* Линия между ссылками */
    margin-bottom: 5px;
}

.a-i-o{
    color: #ee1313
}

#foot { /* Нижний блок */
    background: #333; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    clear: both; /* Отменяем обтекание */
    height:4%;
}
#conteiner {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
