<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />        
    </startup>

  <appSettings>
    <add key="GoogleApiPath" value="https://maps.googleapis.com/maps/api/geocode/xml?address={0}{1}key={2}" />
    <add key="GoogleKey" value="AIzaSyD_zXmuH0FWKmgMJOTaMo7zb0sqfwS9eA8" />
    <add key="TableLimit" value="GoogleRequestLimit" />
    <add key="ServiceRunIntervalInSeconds" value="100000"/>
    <add key="DbConnectString" value="Data Source=MO-500-100\SQLESPRESS;Initial Catalog=geolocation;Persist Security Info=True;User ID=master;Password=master2016;Connect Timeout=1000000"/>

    <add key="YandexApiPath" value="https://geocode-maps.yandex.ru/1.x/?geocode={0}" />
    <add key="YandexRunIntervalInSeconds" value="100000"/>

    <add key="isProxy" value="true"/>
    <add key="ProxyHost" value="192.168.2.201"/>
    <add key="ProxyPort" value="3128"/>
    
  </appSettings>
  
</configuration>